<header class="header mrgn-t-md">
    <div class="container flex-row flex-items-center">
        <a href="#"><img src="img/flime_logo_light.svg" alt=""></a>

        <div class="flex-row flex-items-center flex-space-beetween mrgn-l-lg">
            <div class="navi navi-for">
                <a href="#">FOR COMPANIES</a>
                <a href="#">FOR FREELANCERS</a>
            </div>
            <div class="navi">
                <a href="#">How it works</a>
                <a href="#">Pricing</a>
                <a href="#">API</a>
                <a href="#">Relability</a>
                <a href="#">About us</a>
                <a href="#">Contacts</a>
            </div>
            <button
                    type="button"
                    class="btn btn-navy font-size-md strong"
            >Log in/Sign up
            </button>
        </div>
    </div>
</header>