<footer class="footer navy-bg pdng-v-lg3">
    <div class="container flex-row">
        <div class="pull-left">
            <a href="#" class="footer-logo">
                <img src="img/flime_logo_white.svg" alt="">
            </a>
            <p>
                All-in-one platform<br/> to manage contractors.<br/> Worldwide.
            </p>
            <div class="copyright">
                &copy; 2018 Flime B.V. The Netherlands
            </div>
        </div>
        <div class="footer-nav">
            <div class="footer-nav-title mrgn-b-sm">Legal Resources</div>
            <div class="footer-nav-link mrgn-b-sm"><a href="" c>Privacy Policy</a></div>
            <div class="footer-nav-link mrgn-b-sm"><a href="">Offer Agreement</a></div>
        </div>
        <div class="footer-nav">
            <div class="footer-nav-title mrgn-b-sm">Company</div>
            <div class="footer-nav-link mrgn-b-sm"><a href="" c>How it works</a></div>
            <div class="footer-nav-link mrgn-b-sm"><a href="">Pricing</a></div>
            <div class="footer-nav-link mrgn-b-sm"><a href="">API</a></div>
            <div class="footer-nav-link mrgn-b-sm"><a href="">Reliability</a></div>
        </div>
        <div class="footer-nav">
            <div class="footer-nav-title mrgn-b-sm">Follow us</div>
            <ul class="footer-nav-soc flex-row">
                <li><a href="#"><img src="img/fb.svg" alt=""></a></li>
                <li><a href="#"><img src="img/in.svg" alt=""></a></li>
                <li><a href="#"><img src="img/tw.svg" alt=""></a></li>
            </ul>
        </div>
    </div>
</footer>